{% extends "/layouts/" ~ layout ~ ".twig" %}

{% block title %}..::Pastecode::.. Home/Create Paste{% endblock %}

{% block head_bottom %}
    <link rel="stylesheet" href="{{siteRoot}}/css/main.css" type="text/css" />
    <script src="{{siteRoot}}/javascript/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{siteRoot}}/javascript/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{siteRoot}}/javascript/editor.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    
    {% if user.loggedIn == true %}
        <div id="userInfo">
            <div><span class="label">Logged in as</span> <span class="value">{{ user.username }}</span></div>
            <div><span><a href="{{siteRoot}}/user/logout">Log Out</a></span></div>
        </div>
    {% else %}
        <div id="userInfo">
            <div><span class="label">Not Currently Logged In</span></div>
            <div><span><a href="{{siteRoot}}/user/login">Log In</a></span></div>
            <div><span><a href="{{siteRoot}}/user/register">Register</a></span></div>
        </div>
    {% endif %}
    
        <form id="createPaste" method="post" action="{{siteRoot}}/paste/create">
            <div id="information">
                <div>
                    <span>
                        <label class="label" for="title">Title</label>
                    </span>
                    <span>
                        <input type="text" name="title" id="title" required="required" />
                    </span>
                </div>
                
                <div>
                    <span>
                        <label class="label" for="language">Language</label>
                    </span>
                    <span>
                        <select name="language" id="language">
                            {% for value, label in  getLanguages() %}
                                <option {% if value == "text" %}selected="selected"{% endif %} value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
                
                <div>
                    <span>
                        <label class="label" for="visibility">Visibility</label>
                    </span>
                    <span>
                        <select name="visibility" id="visibility">
                            <option value="0">Public</option>
                            <option value="1">Unlisted</option>
                            {% if user.loggedIn == true %}
                            <option value="2">Private</option>
                            {% endif %}
                        </select>
                    </span>
                </div>
                
                <div>
                    <span>
                        <label class="label" for="expiresOn">Expires</label>
                    </span>
                    <span>
                        <select name="expiresOn" id="expiresOn">
                            <option>30 Minutes</option>
                            <option>1 Hour</option>
                            <option>8 Hours</option>
                            <option>Tomorrow</option>
                            <option>Next Week</option>
                            <option>2 Weeks</option>
                            <option>Next Month</option>
                            <option>Next Year</option>
                            <option value="+1000 years">Never</option>
                        </select>
                    </span>
                </div>
                
                <div>
                    <span>
                        <input type="submit" value="Create" />
                    </span>
                    <span>&nbsp;</span>
                </div>
            </div>
            
            <div id="editor"></div>
            <input type="hidden" name="contents" id="contents" />
        </form>
{% endblock %}